.vscode

#ignoro las ejecuciones
1805TareaDosGrupos/Ej1/mainEj1.exe
1805TareaDosGrupos/Ej2/mainEj2.exe
1805TareaDosGrupos/Ej3/mainEj3.exe
1805TareaDosGrupos/Ej4/mainEje4.exe
1805TareaDosGrupos/Ej5/mainEjer5.exe
1805TareaDosGrupos/Ej6/mainEJ3.exe
1805TareaDosGrupos/Ej7FuncionAmiga/main.exe
1805TareaDosGrupos/Ej8Sobrecarga/mainSobrecarga.exe
1805TareaDosGrupos/SobrecargaMenosIgual/mainMenosIgual.exe
1805TareaDosGrupos/SobrecargaLlamadaFuncion/main.exe
1805TareaDosGrupos/SobrecargaMasIgual/mainSobrecarga.exe
1805TareaDosGrupos/SobrecargaBitwise/Bitwise.exe